:root {
  --font: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: whitesmoke;
  background-image: url('./Images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 5% 0;
}

#list-container {
  background-color: white;
  width: 95vw;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 8px 8px 2px rgb(0, 0, 0);
  opacity: 0.9;
  font-size: var(--font);
}

#title {
  font-size: 1.5em;
  font-weight: lighter;
  width: 90%;
}

#submit i {
  font-size: 1rem;
}

#list-items {
  max-height: 74vh;
  overflow-y: auto;
}

#settings {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  padding: 2%;
  width: 100% !important;
}

#settings-container {
  margin: 0 auto;
  width: 50%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px gainsboro solid;
  padding: 2% 20px;
  height: 3rem;
}

textarea {
  border: 0;
  width: 100%;
  height: 2rem;
  resize: none;
  margin: 0 5%;
  vertical-align: middle;
  font: inherit;
  background: none;
}

textarea:focus {
  outline: none;
}

.rotate {
  transform: rotate(90deg);
  font-size: 1.2rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#item-input {
  font-style: italic;
  border: 0;
  width: 100%;
  font-size: var(--font);
}

#item-input:focus {
  outline: none;
}

.clear-all {
  position: relative;
  background-color: rgb(241, 240, 240);
  text-align: center;
  height: 40px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: var(--font);
}

.clear-all:hover {
  text-decoration: underline;
}

.focused {
  background-color: rgb(255, 254, 202);
}

.grip {
  cursor: move;
}

.delete {
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.hide {
  display: none;
}

.hide2 {
  display: none !important;
}

.checkedTask {
  text-decoration: line-through;
}

#modal-bg {
  position: fixed !important;
  background-color: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  opacity: 0.9;
  backdrop-filter: blur(10px);
  mix-blend-mode: multiply;
}

#modal {
  position: fixed;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font);
  width: 80vw;
  height: 40vh;
  background-color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

#modal > button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2% 9%;
  font-size: 1.5em;
}

#modal div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
}

#modal div button {
  width: 100px;
  padding: 20px 15px;
  border-radius: 10px;
}

#modal #yes {
  background-color: deepskyblue;
}

#modal #no {
  background-color: tomato;
}

.error::placeholder {
  color: red;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url('./Images/pexels-lukas-317356.jpg');
  }

  #list-container {
    width: 60vw;
    border-radius: 10px;
    margin: 1em auto;
  }

  #list-items {
    max-height: 70vh;
  }

  #modal {
    width: 300px;
    height: 240px;
  }

  .rotate:hover {
    transform: rotate(270deg);
    font-size: 1.3em;
    transition: 0.5s;
  }
}
